body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #333;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar li {
    display: flex;
}

.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

section {
    padding: 60px;
    text-align: center;
}

.site-footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    padding: 10px;
}






#join {
    background-color: #e2e2e2;
}

#about {
    background-color: #d0d0d0;
}

#blog {
    background-color: #b8b8b8;
}
#contest {
    background-color: #b8b8b8;
}

#contact {
    background-color: #a0a0a0;
}

